body{
        max-width: 100%;
        margin: 4rem;
        padding: 2rem;
        font-family: 'Courier New', Courier, monospace;
        background-color: #faebd7;
    }
    figcaption {
        background-color: #ffffff;
        padding: 10px;
    }

    img {
        max-width:100%;
        border: 2px solid rgb(13, 13, 13);
        padding: 10px;
    }
    p{
        margin:0.75rem;
        line-height: 1.5;
        font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
    }
    h1{
        font-size: larger;
        line-height: 1;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    ul{
        color: brown;
    }
    ol{
        color: brown;

    }
    hr{
        border: none;
        border-top: 1px solid #1f1616;
        margin: 2rem;
    }
    a:link{
        color: rgb(137, 137, 234);
        text-decoration: underline;

        } 
    a:visited{
        color: rgb(247, 95, 255);
        }
    a:hover{
        color: #ffc848;
        }
    a:active{
        color: aqua;
        }